<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Todo List using vuejs & materialize-css</title>
	<link rel='stylesheet' href='./dist/css/all.min.css'>
	<link rel='stylesheet' href='./dist/css/materialize.min.css'>
	<link rel="stylesheet" href="./dist/css/style.css">
</head>

<body>

	<div class="container" id="app">
		<div class="card z-depth-3">
			<div class="card-header">
				<h1 class="cap center-align">todo list app</h1>
			</div>
			<div class="card-content">
				<div class="row">
					<div class="input-field col s12 l4">
						<input type="text" v-model="newTodoTitle" @keyup.enter="addTodo" placeholder="todo name" autofocus>
					</div>
					<div class="input-field col s12 l4">
						<select name="filter" id="todo-filter" @change="todosFilter" v-model="filterType">
							<option :value="allTodos" selected="true">all</option>
							<option :value="todoDone">Completed</option>
							<option :value="todoNotDone">Not Completed</option>
						</select>
						<label for="todo-filter">Todos Filter</label>
					</div>
					<div class="col s12 l4">
						<div class="row">
							<div class="col s3">
								<a href="#" @click.prevent="clearTodosList" class="btn red-text transparent z-depth-0 tooltipped"
									data-position="top" data-tooltip="Remove All Todos">
									<i class="fa fa-fw fa-broom"></i>
								</a>
							</div>
							<div class="col s3">
								<a href="#" @click.prevent="deleteCompletedTodos"
									class="btn orange-text transparent z-depth-0 tooltipped" data-position="top"
									data-tooltip="Remove Completed Todos">
									<i class="fa fa-fw fa-clipboard-check"></i>
								</a>
							</div>
							<div class="col s3">
								<a href="#" @click.prevent="makeAllCompleted" class="btn green-text transparent z-depth-0 tooltipped"
									data-position="top" data-tooltip="make All Todos Completed">
									<i class="fa fa-fw fa-check-circle"></i>
								</a>
							</div>
							<div class="col s3">
								<a href="#" @click.prevent="makeAllNotCompleted" class="btn blue-text transparent z-depth-0 tooltipped"
									data-position="top" data-tooltip="make All Todos Completed">
									<i class="fa fa-fw fa-clock"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="cap col s12 l4">
						<h5>total todos: {{todoList.length}}</h5>
					</div>
					<div class="cap col s12 l4">
						<h5>completed todos: {{completedTodosLength()}}</h5>
					</div>
					<div class="cap col s12 l4">
						<h5>not completed todos: {{notCompletedTodosLength()}}</h5>
					</div>
				</div>
			</div>
			<div class="">

				<template v-if="todosFilter() != ''">
					<div :class="{hide: editingValue != ''}">
						<ul class="collection">
							<li class="collection-item" v-for="(todo, index) in todosFilter()" :class="{completed: todo.isCompleted}">
								<label>
									<input type="checkbox" v-model="todo.isCompleted" :checked="todo.isCompleted">
									<span>
										<span class="todo-title" v-text="todo.title"></span>
									</span>
									<span>
										<a href="#" class="btn-floating right transparent z-depth-0 center-align tooltipped"
											data-position="top" data-tooltip="Delete" @click.prevent="deleteTodo(index)">
											<i class="fa fa-fw fa-trash red-text"></i>
										</a>
										<a href="#" class="btn-floating right transparent z-depth-0 center-align tooltipped"
											data-position="top" data-tooltip="Edit" @click.prevent="editTodo(index)">
											<i class="fa fa-fw fa-pen green-text"></i>
										</a>
									</span>
								</label>
							</li>
						</ul>
					</div>
					<div :class="{hide: editingValue == ''}">
						<div class="input-field">
							<input type="text" v-model="editingValue" @keyup.enter="updateTodo()" @keyup.esc="cancelEditing()">
						</div>
					</div>
				</template>
				<template v-else>
					<h3 class="cap center">no todo in the list</h3>
				</template>
			</div>
		</div>
	</div>

	<script src="./dist/js/jquery.min.js"></script>
	<script src="./dist/js/materialize.min.js"></script>
	<script src="./dist/js/vue.min.js"></script>
	<script src="./dist/js/script.js"></script>
</body>

</html>